<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdzHwFU0ZpL5aGmvSQH4EzB0QQeZ9tBrI</string>
	<key>GCM_SENDER_ID</key>
	<string>210907123493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.randomJokes.prod</string>
	<key>PROJECT_ID</key>
	<string>random-jokes-6b8dd</string>
	<key>STORAGE_BUCKET</key>
	<string>random-jokes-6b8dd.appspot.com</string>
<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210907123493:ios:104f29a97eea6b87c1d4cc</string>
</dict>
</plist>